* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

a {
	text-decoration: none;
	color: #fff;
}

.wrapper {
	width: 100%;
}

/*Главная*/
.main {
	height: 100vh;
	margin-left: 92px;

	background: #000000  url("../img/bg-pattern.png") no-repeat right;
}

.container {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

/*Сайдбар*/
.sidenav {
	width: 92px;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #89490D;
	overflow-x: hidden
}

.sidenav__block {
	width: 100%;
}

.arrow_svg {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.arrow_svg path {
	fill: #000;
	transition: .5s;
}

/*.arrow_svg path:hover {
	transition: .5s;
	fill: #7C2600;
}*/

.hover_link:hover path {
	transition: .5s;
	fill: #7C2600;
}

/*Контент*/
.main__flex {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-left: 10px;
}

h1 {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 79px;
	margin-bottom: 20px;

	color: #FFFFFF;
}

.main__text-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.link_qa {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	border-radius: 26px;
	transition: 1s;
}

.link_qa:hover {
	transition: 1s;
	border-radius: 10px;
}

.link_qa_left {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	border-radius: 26px;
	transition: 1s;
}

.link_qa_left:hover {
	transition: 1s;
	border-radius: 10px;
}


.link_qa_text {
	transition: 1s;
	margin-left: 10px;
}

.link_qa_text:hover {
	transition: 1s;
	margin-left: 30px;
}

.link_qa_text span {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;

	color: #FFFFFF;
}

.link_qa_text_right {
	text-align: right;
	margin-right: 103px;
	transition: 1s;
}

.link_qa_text_right:hover {
	transition: 1s;
	margin-right: 83px;
}

.link_qa_text_right span {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;

	color: #FFFFFF;
}

.link_text {
	margin-left: 51px;

	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;

	color: #FFFFFF;
}

.link_text a:hover {
	text-decoration: underline;
}

.link_text_auxiliary {
	margin-right: 80px;
}

.link_text_left {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;

	color: #FFFFFF;
}

.link_text_left a:hover {
	text-decoration: underline;
}

/*.main__img img {
	margin-left: 500px;
}*/